{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div class="row">
        <div class="col-md-8">
            <h5>What is Fleet-Up?</h5>
            <div class="what-is-fleet-up">
                <p>Fleet-Up is an online tool for EVE-Online, designed to help corporations & alliances manage their fittings, doctrines, operations and fleets.</p>
                <p>Fleet-Up makes it really easy for your new and existing members to get in game, in the right ships, at the right time. Import fittings and organize them into 'doctrines'. Users can instantly see which are flyable by their EVE characters and at what skill level. Plan tactical or strategic operations and track fleets. You can even brand it to your own style. <a href="#">Learn more...</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h4>News & Updates</h4>
                <p class="text-muted">
                    {% for post in posts %}
                    <h1>{{ post.title }}</h1>
                    <p>By {{ post.author }} on {{ post.date_posted }}</p>
                    <p>{{ post.content }}</p>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>How will it help you?</h5>
            <div class="list-who_it_helps">
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                    
                </div>
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}